body {
    height: 100vh;
    background: linear-gradient(45deg, black -10% ,transparent), 
    repeating-linear-gradient(45deg, rgb(71, 71, 71) 0%, rgb(71, 71, 71) 5%, transparent 5%, transparent 10%), 
    rgb(32, 26, 26) repeating-linear-gradient(-45deg, rgba(71, 71, 71,0.5) 0%, rgba(71, 71, 71,0.5) 5%, transparent 5%, transparent 10%);
 

    }
table {
    margin-top: -0px;
    margin-left: 200px;
    margin-right: 290px;
    color: ivory;
    height: 10vh;
    background: linear-gradient(45deg, black -10% ,transparent), 
    repeating-linear-gradient(45deg, rgb(71, 71, 71) 0%, rgb(71, 71, 71) 5%, transparent 5%, transparent 10%), 
    rgb(32, 26, 26) repeating-linear-gradient(-45deg, rgba(71, 71, 71,0.5) 0%, rgba(71, 71, 71,0.5) 5%, transparent 5%, transparent 10%);
 
}
table, th{
    border-color: ivory;
    border: 2px solid;
    border-collapse: collapse;
}
p{
    margin-right: 260px;
    margin-left: -60px;
    color: ivory;
    font-family:Arial;
    text-align: justify;
}
iframe{
    margin-left: 450px;
    margin-right: auto;
}
button{
    font-size: 18px;
    background-color: #c72121;
    color: white;
    padding: 3px 3px 3px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: -10px;
    border-radius: 5px;
    box-shadow: none;
    border: 0;

}
button:hover{
    cursor: pointer;
}

h1{
    font-family:'Courier New', Courier, monospace;
    font-size: 350%;
    color: red;
    text-align : center;
}
h2{
    color: white;
    margin-left: 200px;
}
h3{
    color: white;
    margin-left: 200px;
}
img{
    border-radius: 10px;
    border: ivory 5px solid;
    border-color: rgb(189, 9, 9);
    margin-top: -50px;
    margin-right: 30px;
    float: right;
    width:auto;
    height: 300px;
}
li{
    margin-top: -50px;
}
ul{
    font-size: 18px;
    background-color: #c72121;
    color: white;
    padding: 3px 3px 3px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: -10px;
    margin-left: 20px;
    border-radius: 5px;
    list-style-type: none;
    box-shadow: initial;
}
a{
    text-decoration: none;

}
a:visited{
    color: white;
}
#lista{
    float: left;
}


  